<!doctype html>
<html lang="en">
<head>
  <title>Update Document - Beautified with Bootstrap</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h1>Update Document</h1>
    <form action="/update_data/{{ document._id }}" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ document.name }}" class="form-control">
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="{{ document.age }}" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Back to Home</a>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
